name: Self Test - validation workflows

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-build-publish-workflow:
    uses: ./.github/workflows/build-publish.yml
    with:
      working_directory: "./tests/valid-app"
      should_publish: false